<!-- MODAL THAT DISPLAYS -->
<div bsModal #packageModal="bs-modal" class="modal fade" tabindex="-1" [config]="{backdrop: 'static'}" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content shadow-hard">
      <div class="modal-header">
        <h4 class="modal-title pull-left button-left">Connect a Package to a License</h4>
        <button type="button" class="close pull-right" (click)="packageModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card width-control centered no-border">
          <div class="card-block card-background">
            <div class="input-group padding-bottom-half">
              <span class="input-group-addon button-left shadow-base">Package Name</span>
              <input disabled [(ngModel)]="modalPackage.packageName" class="form-control clear-disable shadow-light">
            </div>
            <div class="input-group padding-bottom">
              <span class="input-group-addon button-left shadow-base">Package Version</span>
              <input disabled [(ngModel)]="modalPackage.packageVersion" class="form-control clear-disable shadow-light">
            </div>
            <div class="card margin-bottom shadow-light" *ngIf="displayUrls">
              <div class="card-block">
                <div *ngIf="modalPackage.nugetUrl">
                  <label class="label-text-url">Nuget Url: </label>
                  <a class="td-link" href="{{ modalPackage.nugetUrl }}" target="_blank" tooltip="Visit this license's Nuget page" container="body">
                    <i class="fa fa-external-link i-modal-fix-margin" aria-hidden="true"></i>
                  </a>
                </div>
                <div *ngIf="modalPackage.licenseUrl">
                  <label class="label-text-url">License Url: </label>
                  <a class="td-link" href="{{ modalPackage.licenseUrl }}" target="_blank" tooltip="Visit this license's url page" container="body">
                    <i class="fa fa-external-link i-modal-fix-margin" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="card margin-bottom shadow-light">
              <div class="card-block">
                <h4 class="card-title">Connect
                  <strong>{{ modalPackage.packageName }} - {{ modalPackage.packageVersion }}</strong> to a license:</h4>
                <ng-select #licenseselector [allowClear]="true" [items]="licenseNameAndVersions" placeholder="Select a License that matches the package">
                </ng-select>
              </div>
            </div>
            <div class="text-centered">
              <button class="btn btn-success shadow-base" (click)="connectPackageToLicense()" tooltip="This will connect the package to the license selected."
                container="body">Connect</button>
              <button class="btn btn-info shadow-base" (click)="packageModal.hide()">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-12">
    <div class="input-group main-search fix-btn-height">
      <span class="input-group-addon button-left shadow-base">Search by Package Name</span>
      <input #input class="form-control fix-input-height shadow-input-light" type="text" placeholder="Search here..." [(ngModel)]="search">
    </div>
    <div class="alert shadow-hard text-center margin-top" role="alert" *ngIf="packages.length == 0 && !app.showSpinner">
      There are
      <strong>no packages</strong> to display.
      <strong>All of the packages are matched</strong> with a license.
    </div>
    <div class=" text-center shadow-hard" *ngIf="packages.length > 0 && !app.showSpinner">
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="no-select text-left" [class.active]="order === 'packageNameAndVersion'" (click)="setOrder('packageNameAndVersion')">
              Package Name
              <span [hidden]="reverse">▼</span>
              <span [hidden]="!reverse">▲</span>
            </th>
            <th class="no-select" [class.active]="order === 'nugetUrlDoesNotExist'" (click)="setOrder('nugetUrlDoesNotExist')" style="width: 9%">
              Nuget Url
              <span [hidden]="reverse">▼</span>
              <span [hidden]="!reverse">▲</span>
            </th>
            <th class="no-select" [class.active]="order === 'licenseUrlDoesNotExist'" (click)="setOrder('licenseUrlDoesNotExist')" style="width: 10%">
              License Url
              <span [hidden]="reverse">▼</span>
              <span [hidden]="!reverse">▲</span>
            </th>
            <th class="normal-pointer" style="width: 5%">
              Connect
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let package of packages | filterBy: {packageNameAndVersion: search} | orderBy: order : reverse : true | paginate: { itemsPerPage: 25, currentPage: page }"
            class="text-center">
            <td class="text-left">{{ package?.packageNameAndVersion }}</td>
            <td *ngIf="package.nugetUrl" tooltip="Visit this license's Nuget page" container="body">
              <a class="td-link" href="{{ package.nugetUrl }}" target="_blank">Nuget
                <i class="fa fa-external-link" aria-hidden="true"></i>
              </a>
            </td>
            <td *ngIf="!package.nugetUrl">
              -
            </td>
            <td *ngIf="package.licenseUrl" tooltip="Visit this license's url page" container="body">
              <a class="td-link" href="{{ package?.licenseUrl }}" target="_blank">License
                <i class="fa fa-external-link" aria-hidden="true"></i>
              </a>
            </td>
            <td *ngIf="!package.licenseUrl">
              -
            </td>
            <td>
              <i class="fa fa-pencil-square-o modify" aria-hidden="true" (click)="setModal(package)" tooltip="Connect this package to a license"
                container="body"></i>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="col-12 text-center">
          <pagination-controls (pageChange)="page = $event" autoHide="true"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
