<div class="container">
  <div class="col-12">
    <!-- DEFAULT VIEW -->
    <div class="box-title">
      Data analyzed:
      <strong>The ratings of the overall hospital.</strong>
    </div>
    <iframe class="shadow-hard" width="100%" height="400" frameBorder="0" [src]="'../../assets/overall.html' | safe"></iframe>
    <div class="input-group main-search">
      <span id="title-span" class="input-group-addon shadow-base button-left">Filter all columns</span>
      <input #input class="form-control fix-input-height shadow-input-light" type="text" placeholder="Search..." [(ngModel)]="search">
    </div>
    <div class="alert shadow-hard text-center margin-top" role="alert" *ngIf="hcahpsData.length == 0 && !app.showSpinner">
      There are is no HCAHPS data to display.
    </div>

    <div class="table-responsive shadow-hard" *ngIf="hcahpsData.length > 0 && !app.showSpinner" style="margin-top: 10px;">
      <table class="table table-hover">
        <thead>
          <tr class="text-center">
            <th class="no-select text-center" [class.active]="order === 'hospitalName'" (click)="setOrder('hospitalName')">
              Hospital Name
            </th>
            <th class="no-select text-center" [class.active]="order === 'patientSurveyStarRating'" (click)="setOrder('patientSurveyStarRating')">
              Patient Rating
            </th>
            <th class="no-select text-center" [class.active]="order === 'surveyResponseRatePercent'" (click)="setOrder('surveyResponseRatePercent')">
              Survey Response %
            </th>
            <th class="no-select text-center" [class.active]="order === 'phoneNumber'" (click)="setOrder('phoneNumber')">
              Phone Number
            </th>
            <th class="no-select text-center" [class.active]="order === 'address'" (click)="setOrder('address')">
              Address
            </th>
            <th class="no-select text-center" [class.active]="order === 'city'" (click)="setOrder('city')">
              City
            </th>
            <th class="no-select text-center" [class.active]="order === 'state'" (click)="setOrder('state')">
              State
            </th>
            <th class="no-select text-center" [class.active]="order === 'zipCode'" (click)="setOrder('zipCode')">
              Zip Code
            </th>
            <th class="no-select text-center" [class.active]="order === 'countyName'" (click)="setOrder('countyName')">
              County
            </th>
            <th class="no-select text-center" [class.active]="order === 'location'" (click)="setOrder('location')">
              Long
            </th>
            <th class="no-select text-center" [class.active]="order === 'location'" (click)="setOrder('location')">
              Lan
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let hcahps of hcahpsData | filterBy: {search: search} | orderBy: order : reverse : true | paginate: { itemsPerPage: 10, currentPage: page }"
            class="text-center">
            <td class="updated-date" *ngIf="hcahps.hospitalName">
              <a class="link" href="https://www.google.com/search?q={{ hcahps?.hospitalName }}" target="_blank">{{ hcahps?.hospitalName }}</a>
            </td>
            <td class="updated-date" *ngIf="!hcahps.hospitalName">
              -
            </td>
            <td class="updated-date" *ngIf="hcahps.patientSurveyStarRating">
              {{ hcahps?.patientSurveyStarRating }}
            </td>
            <td class="updated-date" *ngIf="!hcahps.patientSurveyStarRating">
              -
            </td>
            <td class="updated-date" *ngIf="hcahps.surveyResponseRatePercent">
              {{ hcahps?.surveyResponseRatePercent }}
            </td>
            <td class="updated-date" *ngIf="!hcahps.surveyResponseRatePercent">
              -
            </td>
            <td class="updated-date" *ngIf="hcahps.phoneNumber">
              {{ hcahps?.phoneNumber }}
            </td>
            <td class="updated-date" *ngIf="!hcahps.phoneNumber">
              -
            </td>
            <td class="updated-date" *ngIf="hcahps.address">
              {{ hcahps?.address }}
            </td>
            <td class="updated-date" *ngIf="!hcahps.address">
              -
            </td>
            <td class="updated-date" *ngIf="hcahps.city">
              {{ hcahps?.city }}
            </td>
            <td class="updated-date" *ngIf="!hcahps.city">
              -
            </td>
            <td class="updated-date" *ngIf="hcahps.state">
              {{ hcahps?.state }}
            </td>
            <td class="updated-date" *ngIf="!hcahps.state">
              -
            </td>
            <td class="updated-date" *ngIf="hcahps.zipCode">
              {{ hcahps?.zipCode }}
            </td>
            <td class="updated-date" *ngIf="!hcahps.zipCode">
              -
            </td>
            <td class="updated-date" *ngIf="hcahps.countyName">
              {{ hcahps?.countyName }}
            </td>
            <td class="updated-date" *ngIf="!hcahps.countyName">
              -
            </td>
            <td class="updated-date" *ngIf="hcahps.location">
              {{ hcahps?.location.coordinates[0] }}
            </td>
            <td class="updated-date" *ngIf="!hcahps.location">
              -
            </td>
            <td class="updated-date" *ngIf="hcahps.location">
              {{ hcahps?.location.coordinates[1] }}
            </td>
            <td class="updated-date" *ngIf="!hcahps.location">
              -
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row" style="width: 100%">
        <div class="col-12 text-center">
          <pagination-controls (pageChange)="page = $event" autoHide="true"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
