.label-text {
  width: 200px;
}

.license-title {
  font-style: italic;
  font-size: 2rem;
}

.width-control {
  width: 750px;
}

.input-group span {
  width: 128px;
  text-align: left;
  font-size: 0.95rem;
  background-color: #b9eafa;
}

textarea {
  width: 100%;
  background: none;
  margin: 0 auto;
  resize: none;
  font-size: 18px;
  outline: none;
  padding: 5px 10px;
  background-color: white;
  font-size: 0.9rem;
  border: 0;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  -webkit-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  -khtml-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  -moz-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
}

.row {
  margin: 0;
}

.col-6 {
  padding: 0;
}

textarea {
  background-color: white;
}

.hidden {
  visibility: hidden;
}

.license-lock i {
  font-size: 1rem;
  cursor: pointer;
  color: white;
}

textarea[disabled] {
  background-color: #f0fbff;
}

.show-regex-cheat-sheet {
  position: absolute;
  visibility: hidden;
}

.license-regex {
  background-color: #fcd8d9;
}

.regexMatches {
  background-color: #e0fcd0;
}

.regexCorrect {
  background-color: #ffffe3;
}

.regex-matched {
  background-color: #e0fcd0;
}

.regex-correct {
  background-color: #ffffe3;
}

.regex-error {
  background-color: #fcd8d9;
}

.shrink-btn {
  padding: 0.1rem 1rem !important;
  line-height: 1.15 !important;
}

.regex-cheat-sheet-btn {
  padding: 0.2rem 1rem;
  margin-left: 10px;
}

.regex-cheat-sheet {
  width: 1400px;
}

.highlight {
  color: #449d44;
  font-weight: 700;
}

.text-centered {
  text-align: center;
}

.button-left {
  margin-bottom: -0.5px !important;
}

.card-header {
  border: 0;
}

.table {
  background-color: #fff;
  margin: 0;
}

#div-for-table {
  padding: 0;
}

.regex-cheat-sheet-btn {
  cursor: help;
}

.card-left {
  margin-right: 10px;
  margin-left: 20px;
}

.card-right {
  margin-left: 10px;
  margin-right: 20px;
}

.card-left .card-block {
  margin-top: 9px;
}

.btn-license-text {
  width: 100% !important;
  font-size: 1.4rem;
  border-radius: 0 !important;
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
}