footer {
  text-align: center;
}

.app-title {
    font-size: 2rem;
    padding-left: 15px;
    color: #36CDFF;
}

.above-table {
    text-align: center;
    margin-top: 20px;
}

.container {
    padding-top: 20px;
}

@media (min-width: 1200px) {
    .container{
        width: 1400px;
    }
}

.tab-btn {
  color: #36CDFF;
  text-decoration: none;
  box-shadow: none !important;
  font-size: 1.1rem;
}

.tab-btn:hover, .tab-btn-active, .tab-btn:focus {
  color: #008EBD;
  text-decoration: none;
}

