<app-notifications></app-notifications>
<go-top-button [html]="'<i class=\'fa fa-arrow-circle-up\'></i>'" [animate]="true" [speed]="100" [acceleration]="200" [scrollDistance]="300"
  [styles]="{
                    'right': '30px',
                    'width': '40px',
                    'color': '#25A2B6',
                    'line-height': '20px',
                    'font-size': '3rem',
                    'background': 'rgba(0, 0, 0, 0)',
                    'z-index': '999'
                 }">
</go-top-button>
<div style="position:relative">
  <spinner-component [spinnerShow]="showSpinner">
    <div class="sk-cube-grid">
      <div class="sk-cube sk-cube1"></div>
      <div class="sk-cube sk-cube2"></div>
      <div class="sk-cube sk-cube3"></div>
      <div class="sk-cube sk-cube4"></div>
      <div class="sk-cube sk-cube5"></div>
      <div class="sk-cube sk-cube6"></div>
      <div class="sk-cube sk-cube7"></div>
      <div class="sk-cube sk-cube8"></div>
      <div class="sk-cube sk-cube9"></div>
    </div>
  </spinner-component>
  <div class="above-table">
    <span class="app-title">{{title}}
      <i class="fa fa-hospital-o" aria-hidden="true"></i>
    </span>
    <div class="col-12">
      <button type="button" class="btn btn-link tab-btn .app-tab-btn" routerLink="/hcahps" routerLinkActive="tab-btn-active" queryParamsHandling="merge">All Ratings
        <i class="fa fa-info-circle" aria-hidden="true"></i>
      </button>
      <span> |</span>
      <button type="button" class="btn btn-link tab-btn .app-tab-btn" routerLink="/overall-hospital" routerLinkActive="tab-btn-active"
        queryParamsHandling="merge">Overall Hospital
        <i class="fa fa-info-circle" aria-hidden="true"></i>
      </button>
      <span> |</span>
      <button type="button" class="btn btn-link tab-btn .app-tab-btn" routerLink="/doctor-communication" routerLinkActive="tab-btn-active"
        queryParamsHandling="merge">Doctor Communication
        <i class="fa fa-info-circle" aria-hidden="true"></i>
      </button>
      <span> |</span>
      <button type="button" class="btn btn-link tab-btn .app-tab-btn" routerLink="/recommended-hospital" routerLinkActive="tab-btn-active"
        queryParamsHandling="merge">Recommended Hospital
        <i class="fa fa-info-circle" aria-hidden="true"></i>
      </button>
      <span> |</span>
      <button type="button" class="btn btn-link tab-btn .app-tab-btn" routerLink="/summary" routerLinkActive="tab-btn-active" queryParamsHandling="merge">Summary
        <i class="fa fa-info-circle" aria-hidden="true"></i>
      </button>
    </div>
    <div class="col-12">
      <button type="button" class="btn btn-link tab-btn .app-tab-btn" routerLink="/pain-management" routerLinkActive="tab-btn-active"
        queryParamsHandling="merge">Pain Management
        <i class="fa fa-info-circle" aria-hidden="true"></i>
      </button>
      <span> |</span>
      <button type="button" class="btn btn-link tab-btn .app-tab-btn" routerLink="/discharge-information" routerLinkActive="tab-btn-active"
        queryParamsHandling="merge">Discharge Information
        <i class="fa fa-info-circle" aria-hidden="true"></i>
      </button>
      <span> |</span>
      <button type="button" class="btn btn-link tab-btn .app-tab-btn" routerLink="/care-transition" routerLinkActive="tab-btn-active"
        queryParamsHandling="merge">Care Transition
        <i class="fa fa-info-circle" aria-hidden="true"></i>
      </button>
      <span> |</span>
      <button type="button" class="btn btn-link tab-btn .app-tab-btn" routerLink="/nurse-communication" routerLinkActive="tab-btn-active"
        queryParamsHandling="merge">Nurse Communication
        <i class="fa fa-info-circle" aria-hidden="true"></i>
      </button>
      <span> |</span>
      <button type="button" class="btn btn-link tab-btn .app-tab-btn" routerLink="/quietness" routerLinkActive="tab-btn-active"
        queryParamsHandling="merge">Quietness
        <i class="fa fa-info-circle" aria-hidden="true"></i>
      </button>
    </div>
    <div class="col-12">
      <button type="button" class="btn btn-link tab-btn .app-tab-btn" routerLink="/cleanliness" routerLinkActive="tab-btn-active"
        queryParamsHandling="merge">Cleanliness
        <i class="fa fa-info-circle" aria-hidden="true"></i>
      </button>
      <span> |</span>
      <button type="button" class="btn btn-link tab-btn .app-tab-btn" routerLink="/staff-responsiveness" routerLinkActive="tab-btn-active"
        queryParamsHandling="merge">Staff Responsiveness
        <i class="fa fa-info-circle" aria-hidden="true"></i>
      </button>
      <span> |</span>
      <button type="button" class="btn btn-link tab-btn .app-tab-btn" routerLink="/communication-about-medicine" routerLinkActive="tab-btn-active"
        queryParamsHandling="merge">Communication About Medicine
        <i class="fa fa-info-circle" aria-hidden="true"></i>
      </button>
    </div>
  </div>

  <div class="row-fluid">
    <router-outlet></router-outlet>
  </div>
  <footer class="footer">
    <div class="container">
      <p>Developed by
        <a class="btn btn-link" href="https://www.linkedin.com/in/nikitabuyevich/">Nikita Buyevich</a>
        and
        <a class="btn btn-link" href="https://github.com/syoon46">Danny Yoon</a>
        in 36 hours at
        <a class="btn btn-link" href="https://www.hackillinois.org/">HackIllinois 2018.</a>
      </p>
    </div>
  </footer>
</div>
