<!-- DELETE MODAL THAT DISPLAYS -->
<div bsModal #statusLicenseModal="bs-modal" class="modal fade" tabindex="-1" [config]="{backdrop: 'static'}" role="dialog"
  aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content shadow-hard">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Update License Status</h4>
        <button type="button" class="close pull-right" (click)="statusLicenseModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card width-control centered no-border">
          <div class="card-block card-background">
            <div class="input-group padding-bottom-half">
              <span class="input-group-addon button-left shadow-base">License Name</span>
              <input disabled [(ngModel)]="statusLicenseModalContent.licenseName" class="form-control clear-disable shadow-light">
            </div>
            <div *ngIf="statusLicenseModalContent.licenseVersion" class="input-group padding-bottom">
              <span class="input-group-addon button-left shadow-base">License Version</span>
              <input disabled [(ngModel)]="statusLicenseModalContent.licenseVersion" class="form-control clear-disable shadow-light">
            </div>
            <div class="card margin-bottom shadow-light">
              <div class="card-block text-center">
                <div id="status-radios" class="btn-group">
                  <label class="btn btn-secondary shadow-light" [(ngModel)]="licenseStatus" btnRadio="needReview">Needs Review
                    <i class="fa fa-eye" aria-hidden="true"></i>
                  </label>
                  <label class="btn btn-secondary shadow-light" [(ngModel)]="licenseStatus" btnRadio="reviewed">Reviewed
                    <i class="fa fa-eye-slash" aria-hidden="true"></i>
                  </label>
                </div>
              </div>
            </div>
            <div class="text-centered">
              <button class="btn btn-success shadow-base" (click)="updateLicenseStatus(statusLicenseModalContent)">Update</button>
              <button class="btn btn-info shadow-base" (click)="statusLicenseModal.hide()">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- DELETE MODAL THAT DISPLAYS -->
<div bsModal #deleteLicenseModal="bs-modal" class="modal fade" tabindex="-1" [config]="{backdrop: 'static'}" role="dialog"
  aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content shadow-hard">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Delete a License</h4>
        <button type="button" class="close pull-right" (click)="deleteLicenseModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card width-control centered no-border">
          <div class="card-block card-background">
            <div class="input-group padding-bottom-half">
              <span class="input-group-addon button-left shadow-base">License Name</span>
              <input disabled [(ngModel)]="deleteLicenseModalContent.licenseName" class="form-control clear-disable shadow-light">
            </div>
            <div *ngIf="deleteLicenseModalContent.licenseVersion" class="input-group padding-bottom">
              <span class="input-group-addon button-left shadow-base">License Version</span>
              <input disabled [(ngModel)]="deleteLicenseModalContent.licenseVersion" class="form-control clear-disable shadow-light">
            </div>
            <div class="card margin-bottom shadow-light">
              <div class="card-block">
                <div>
                  <label class="label-text-url">Approved for internal use: </label>
                  <i *ngIf="deleteLicenseModalContent.approvedForInternalUse" class="fa fa-check i-modal-fix-margin" aria-hidden="true" tooltip="This license is approved for internal use"
                    container="body"></i>
                  <i *ngIf="!deleteLicenseModalContent.approvedForInternalUse" class="fa fa-times i-modal-fix-margin" aria-hidden="true" tooltip="This license is not approved for internal use"
                    container="body"></i>
                </div>
                <div>
                  <label class="label-text-url">Approved for external use: </label>
                  <i *ngIf="deleteLicenseModalContent.approvedForExternalUse" class="fa fa-check i-modal-fix-margin" aria-hidden="true" tooltip="This license is approved for external use"
                    container="body"></i>
                  <i *ngIf="!deleteLicenseModalContent.approvedForExternalUse" class="fa fa-times i-modal-fix-margin" aria-hidden="true" tooltip="This license is not approved for external use"
                    container="body"></i>
                </div>
              </div>
            </div>
            <div class="text-centered">
              <button class="btn btn-danger shadow-base" (click)="deleteLicense(deleteLicenseModalContent)" tooltip="By deleting a license, it will also unmatch any connected packages to this license."
                container="body">Delete</button>
              <button class="btn btn-info shadow-base" (click)="deleteLicenseModal.hide()">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-12">
    <!-- DEFAULT VIEW -->
    <div class="input-group main-search" *ngIf="!app.isAdmin">
      <span id="title-span" class="input-group-addon shadow-base button-left">Search by License Name</span>
      <input #input class="form-control fix-input-height shadow-input-light" type="text" placeholder="Search here..." [(ngModel)]="search">
    </div>
    <!-- ADMIN VIEW -->
    <div class="row" *ngIf="app.isAdmin">
      <div class="col-10 text-left">
        <div class="input-group main-search">
          <span id="title-span" class="input-group-addon shadow-base button-left">Search by License Name</span>
          <input #input class="form-control fix-input-height shadow-input-light" type="text" placeholder="Search here..." [(ngModel)]="search">
        </div>
      </div>
      <div class="col-2 text-right">
        <button *ngIf="app.isAdmin" id="add-button" class="btn btn-success shadow-base" type="button" [routerLink]="['add']" queryParamsHandling="merge"
          tooltip="Add a license. This process will initiate regex matching on unmatched packages.">Add License
          <i class="fa fa-id-card-o" aria-hidden="true"></i>
        </button>
      </div>
    </div>
    <div class="alert shadow-hard text-center margin-top" role="alert" *ngIf="licenses.length == 0 && !app.showSpinner">
      There are
      <strong>no licenses</strong> to display.
      <span *ngIf="app.isAdmin">
        <a [routerLink]="['add']" queryParamsHandling="merge" class="alert-link">Add a license</a> to get started.
      </span>
    </div>
    <div class="shadow-hard" *ngIf="licenses.length > 0 && !app.showSpinner">
      <table class="table table-hover">
        <thead>
          <tr class="text-center">
            <th class="no-select" [class.active]="order === 'status'" (click)="setOrder('status')" style="width: 7%">
              Status
              <span [hidden]="reverse">▼</span>
              <span [hidden]="!reverse">▲</span>
            </th>
            <th class="no-select text-left" [class.active]="order === 'licenseNameAndVersion'" (click)="setOrder('licenseNameAndVersion')">
              License Name
              <span [hidden]="reverse">▼</span>
              <span [hidden]="!reverse">▲</span>
            </th>
            <th class="no-select" [class.active]="order === 'approvedForInternalUse'" (click)="setOrder('approvedForInternalUse')" style="width: 11%">
              Internal Use
              <span [hidden]="reverse">▼</span>
              <span [hidden]="!reverse">▲</span>
            </th>
            <th class="no-select" [class.active]="order === 'approvedForExternalUse'" (click)="setOrder('approvedForExternalUse')" style="width: 11%">
              External Use
              <span [hidden]="reverse">▼</span>
              <span [hidden]="!reverse">▲</span>
            </th>
            <th class="normal-pointer" style="width: 8%">
              Modify
            </th>
            <th class="normal-pointer" style="width: 15%">
              Last Updated
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let license of licenses | filterBy: {licenseNameAndVersion: search} | orderBy: order : reverse : true | paginate: { itemsPerPage: 10, currentPage: page }"
            class="text-center">
            <td class="text-center status" [ngClass]="{'reviewed': license.status === 1, 'needs-review': license.status === 0}">
              <i class="fa fa-eye" aria-hidden="true" *ngIf="license.status === 1" tooltip="Reviewed" container="body"></i>
              <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="license.status === 0" tooltip="Needs review" container="body"></i>
            </td>
            <td class="text-left">{{ license?.licenseNameAndVersion }}</td>
            <td *ngIf="license.approvedForInternalUse">
              <i class="fa fa-check" aria-hidden="true" tooltip="This license is approved for internal use" container="body"></i>
            </td>
            <td *ngIf="!license.approvedForInternalUse">
              <i class="fa fa-times" aria-hidden="true" tooltip="This license is not approved for internal use" container="body"></i>
            </td>
            <td *ngIf="license.approvedForExternalUse">
              <i class="fa fa-check" aria-hidden="true" tooltip="This license is approved for external use" container="body"></i>
            </td>
            <td *ngIf="!license.approvedForExternalUse">
              <i class="fa fa-times" aria-hidden="true" tooltip="This license is not approved for external use" container="body"></i>
            </td>
            <td>
              <i id="modify-status" class="fa fa-bell-o" aria-hidden="true" (click)="setStatusModal(license)" tooltip="Update status" container="body"></i>
              <i class="fa fa-pencil-square-o modify" aria-hidden="true" (click)="gotoDetail(license)" tooltip="Update license" container="body"></i>
              <i id="modify-delete" *ngIf="app.isAdmin" class="fa fa-trash-o delete-license" aria-hidden="true" (click)="setDeleteModal(license)"
                tooltip="Delete license" container="body"></i>
            </td>
            <td class="text-center last-updated">
              <div class="updated-date" *ngIf="license.lastUpdated">
                {{ license.lastUpdated | amTimeAgo }}
              </div>
              <div class="updated-date" *ngIf="!license.lastUpdated">
                -
              </div>
              <div *ngIf="license.lastModifiedBy">
                <span class="updated-by">by</span>
                <span class="updated-person">{{ license.lastModifiedBy }}</span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row" style="width: 100%">
        <div class="col-12 text-center">
          <pagination-controls (pageChange)="page = $event" autoHide="true"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
