<div class="col-12 centered">
  <div class="card width-control centered shadow-hard">
    <h3 class="card-header">Add a License</h3>
    <div class="card-block card-background">
      <div class="input-group padding-bottom-half">
        <span class="input-group-addon shadow-base">License Name</span>
        <input class="form-control shadow-input-light" [(ngModel)]="license.licenseName" placeholder="Enter the license name...">
      </div>
      <div class="input-group padding-bottom">
        <span class="input-group-addon shadow-base">License Version</span>
        <input class="form-control shadow-input-light" [(ngModel)]="license.licenseVersion" placeholder="Enter the license version if applicable...">
      </div>
      <div class="card margin-bottom shadow-light">
        <div class="card-block">
          <div>
            <label class="label-text">Approved for internal use:</label>
            <bSwitch class="shadow-light" switch-off-text="False" switch-on-text="True" switch-size="large" switch-on-color="true"
              switch-off-color="false" [(ngModel)]="license.approvedForInternalUse">
            </bSwitch>
          </div>
          <div>
            <label class="label-text">Approved for external use:</label>
            <bSwitch class="shadow-light" switch-off-text="False" switch-on-text="True" switch-on-color="true" switch-size="large"
              switch-off-color="false" [(ngModel)]="license.approvedForExternalUse">
            </bSwitch>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-12 centered regex-cheat-sheet" *ngIf="showRegexCheatSheet">
  <div class="card centered shadow-hard">
    <h3 class="card-header text-centered">
      <span>Regex Cheat Sheet</span>
      <button *ngIf="!showRegexCheatSheet" (click)="toggleRegexCheatSheet()" type="button" class="btn btn-info regex-cheat-sheet-btn shadow-base">Show
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
      </button>
      <button *ngIf="showRegexCheatSheet" (click)="toggleRegexCheatSheet()" type="button" class="btn btn-info regex-cheat-sheet-btn shadow-base">Hide
        <i class="fa fa-minus-circle" aria-hidden="true"></i>
      </button>
    </h3>
    <div id="div-for-table" class="card-block card-background">
      <table class="table">
        <thead>
          <tr>
            <th>Character</th>
            <th>Description</th>
            <th>Example Unmodified</th>
            <th>Example Modified</th>
            <th>Example Explained</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>\</td>
            <td>Prevents Regex from reading incorrect Syntax</td>
            <td>I owe my friend $5</td>
            <td>I owe my friend
              <span class="highlight">\</span>$5</td>
            <td>With any special symbol like
              <span class="highlight">$</span>,
              <span class="highlight">@</span>,
              <span class="highlight">#</span>,
              <span class="highlight">etc.</span> place a
              <span class="highlight">\</span> in front of the symbol to prevent Regex from reading it as a command</td>
          </tr>
          <tr>
            <td>(.*)</td>
            <td>Expects either no words/numbers or unlimited words/numbers</td>
            <td>Ignore everything after this Apples taste good</td>
            <td>Ignore everything after this
              <span class="highlight">(.*)</span>
            </td>
            <td>Will accept either anything after 'this' or nothing after 'this'</td>
          </tr>
          <tr>
            <td>\w+</td>
            <td>Expects at least one word</td>
            <td>Apples taste good</td>
            <td>
              <span class="highlight">\w+</span> taste good</td>
            <td>Expects any word in place of where
              <span class="highlight">Apples</span> was</td>
          </tr>
          <tr>
            <td>\w*</td>
            <td>Expects zero or more words</td>
            <td>My favorite word is: </td>
            <td>My favorite word is:
              <span class="highlight">\w*</span>
            </td>
            <td>Either accepts or doesn't accept a favorite word. Will accept
              <span class="highlight">My favorite word is: Apples</span> and will accept
              <span class="highlight">My favorite word is: </span>
            </td>
          </tr>
          <tr>
            <td>\d+</td>
            <td>Expects at least one number</td>
            <td>I owe you $10</td>
            <td>I owe you $
              <span class="highlight">\d+</span>
            </td>
            <td>Expects any number in place of where
              <span class="highlight">10</span> was</td>
          </tr>
          <tr>
            <td>\d*</td>
            <td>Expects zero or more numbers</td>
            <td>My favorite number is: </td>
            <td>My favorite number is:
              <span class="highlight">\d*</span>
            </td>
            <td>Either accepts or doesn't accept a favorite number. Will accept
              <span class="highlight">My favorite number is: 42</span> and will accept
              <span class="highlight">My favorite number is: </span>
            </td>
          </tr>
        </tbody>
        <thead>
          <tr>
            <th>Highlight Color</th>
            <th>Description</th>
            <th>Example Unmodified</th>
            <th>Example Modified</th>
            <th>Example Explained</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="regex-matched"></td>
            <td>The Regex code is correct and matches the the License Text</td>
            <td>Apples taste good</td>
            <td>
              <span class="highlight">\w+</span> taste good</td>
            <td>This will result in the License Regex highlighting as green which means the Regex code matches the License Text</td>
          </tr>
          <tr>
            <td class="regex-correct"></td>
            <td>The Regex code is correct but does not match the License Text</td>
            <td>Copyright &lt;year&gt;</td>
            <td>Copyright
              <span class="highlight">\d+</span>
            </td>
            <td>This will result in the License Regex highlighting as yellow which means the Regex code is correct but does not
              match up with the License Text. This can be fine in situations like the one presented in the example where
              the
              <span class="highlight">&lt;year&gt;</span> tag is being overwritten to just accept some year
            </td>
          </tr>
          <tr>
            <td class="regex-error"></td>
            <td>The Regex code is incorrect</td>
            <td>Copyright 2007</td>
            <td>Copyright
              <span class="highlight">\</span>
            </td>
            <td>This will result in the License Regex highlighting as red which means the Regex code is incorrect. Common cases
              of the Regex code being incorrect is forgetting to finish the Regex code like in the example shown or having
              mutliple characters of
              <span class="highlight">\</span> in a row
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row" [style.height.px]="textareaRowHeight">
  <div class="col-6">
    <div class="card text-center card-text card-background shadow-base card-left">
      <button *ngIf="licenseTextLocked" (click)="toggleTextReadOnly()" type="button" class="btn btn-success shadow-base btn-license-text">Edit the License Text
        <i class="fa fa-unlock-alt" aria-hidden="true"></i>
      </button>
      <button *ngIf="!licenseTextLocked" (click)="toggleTextReadOnly()" type="button" class="btn btn-danger shadow-base btn-license-text">Lock the License Text
        <i class="fa fa-lock" aria-hidden="true"></i>
      </button>
      <div class="card-block">
        <textarea class="shadow-input" #licenseTextArea autosize [(ngModel)]="license.licenseText" (keyup)="editingLicenseText()"
          (blur)="disableLicenseText()" [disabled]="licenseTextLocked" placeholder="Enter the License Text here..."></textarea>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card text-center card-text card-background shadow-base card-right">
      <h3 class="card-header text-centered">
        <div class="col-12">
          <span class="float-left">Edit the License Regex</span>
          <span class="float-right">
            <button *ngIf="!showRegexCheatSheet" (click)="toggleRegexCheatSheet()" type="button" class="btn btn-info regex-cheat-sheet-btn shadow-base">Show Regex Cheat Sheet
              <i class="fa fa-info-circle" aria-hidden="true"></i>
            </button>
            <button *ngIf="showRegexCheatSheet" (click)="toggleRegexCheatSheet()" type="button" class="btn btn-info regex-cheat-sheet-btn shadow-base">Hide Regex Cheat Sheet
              <i class="fa fa-info-circle" aria-hidden="true"></i>
            </button>
          </span>
        </div>
      </h3>
      <div class="card-block">
        <textarea #regexTextArea class="license-regex shadow-input" (keyup)="increaseRowHeight()" [ngClass]="checkedRegex" autosize
          [(ngModel)]="license.licenseRegex" (blur)="validateLicenseRegex()" placeholder="Enter the License Regex here..."></textarea>
      </div>
    </div>
  </div>
</div>
<div class="padding-top-bottom centered text-centered">
  <button class="btn btn-success shadow-base" (click)="add()" tooltip="By adding a license, it will also initiate regex matching on unmatched packages."
    container="body">Add</button>
  <button class="btn btn-info shadow-base" (click)="cancel()">Cancel</button>
</div>
